/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BSPC |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&kp TAB           &kp Q  &kp W  &kp E             &kp R  &kp T        &kp Y    &kp U  &kp I         &kp O    &kp P         &kp BSPC
&kp LEFT_SHIFT    &kp A  &kp S  &kp D             &kp F  &kp G        &kp H    &kp J  &kp K         &kp L    &kp SEMI      &kp SQT
&kp LEFT_CONTROL  &kp Z  &kp X  &kp C             &kp V  &kp B        &kp N    &kp M  &kp COMMA     &kp DOT  &kp QUESTION  &kp ESC
                                &kp LEFT_CONTROL  &mo 1  &kp SPACE    &kp RET  &mo 2  &kp LEFT_ALT
            >;
        };

        layer_1 {
            bindings = <
&kp TAB           &kp C_REWIND  &kp C_NEXT      &kp K_MUTE        &kp C_VOLUME_DOWN  &kp C_VOLUME_UP    &kp N7     &kp N8  &kp N9        &kp EQUAL   &kp ASTERISK  &kp BACKSPACE
&kp LEFT_SHIFT    &kp C_PAUSE   &kp LEFT_ARROW  &kp UP_ARROW      &kp DOWN_ARROW     &kp RIGHT_ARROW    &kp N4     &kp N5  &kp N6        &kp PLUS    &kp MINUS     &kp PERCENT
&kp LEFT_CONTROL  &trans        &kp F11         &mkp MB4          &mkp MB5           &kp F5             &kp N1     &kp N2  &kp N3        &kp PERIOD  &kp SLASH     &kp ESC
                                                &kp LEFT_CONTROL  &mo 1              &kp SPACE          &kp ENTER  &kp N0  &kp LEFT_ALT
            >;
        };

        layer_2 {
            bindings = <
&kp TAB           &kp GRAVE        &kp LESS_THAN      &kp GREATER_THAN  &kp AT_SIGN  &kp PIPE     &kp AMPERSAND  &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp DOLLAR      &kp ASTERISK   &kp BACKSPACE
&kp LEFT_SHIFT    &kp EXCLAMATION  &kp DOUBLE_QUOTES  &kp CARET         &kp EQUAL    &kp BSLH     &kp SLASH      &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp UNDERSCORE  &kp SEMICOLON  &kp SQT
&kp LEFT_CONTROL  &trans           &trans             &trans            &kp TILDE    &kp HASH     &kp COLON      &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp PERIOD      &kp SLASH      &kp ESCAPE
                                                      &kp LEFT_CONTROL  &mo 1        &kp SPACE    &kp RETURN     &mo 2                 &kp LEFT_ALT
            >;
        };
    };
};
