/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BSPC |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&kp TAB           &kp Q  &kp W  &kp E     &kp R  &kp T        &kp Y    &kp U  &kp I      &kp O    &kp P     &kp BSPC
&kp LEFT_SHIFT    &kp A  &kp S  &kp D     &kp F  &kp G        &kp H    &kp J  &kp K      &kp L    &kp SEMI  &kp SQT
&kp LEFT_CONTROL  &kp Z  &kp X  &kp C     &kp V  &kp B        &kp N    &kp M  &kp COMMA  &kp DOT  &kp FSLH  &kp ESC
                                &kp LGUI  &mo 0  &kp SPACE    &kp RET  &mo 0  &kp RALT
            >;
        };

        layer_1 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &kp EQUAL  &mt F7 N7        &mt F8 N8        &mt F9 N9        &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &kp PLUS   &mt F4 NUMBER_4  &mt F5 N5        &mt F6 NUMBER_6  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &kp MINUS  &mt F1 NUMBER_1  &mt F2 NUMBER_2  &mt F3 NUMBER_3  &trans  &trans
                        &trans  &trans  &trans    &trans     &kp N0           &kp DOT
            >;
        };
    };
};
