/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BSPC |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&kp TAB           &kp Q  &kp W  &kp E             &kp R  &kp T        &kp Y    &kp U  &kp I         &kp O    &kp P     &kp BSPC
&kp LEFT_SHIFT    &kp A  &kp S  &kp D             &kp F  &kp G        &kp H    &kp J  &kp K         &kp L    &kp SEMI  &kp SQT
&kp LEFT_CONTROL  &kp Z  &kp X  &kp C             &kp V  &kp B        &kp N    &kp M  &kp COMMA     &kp DOT  &kp FSLH  &kp ESC
                                &kp LEFT_CONTROL  &mo 1  &kp SPACE    &kp RET  &mo 2  &kp LEFT_ALT
            >;
        };

        layer_1 {
            bindings = <
&trans            &trans  &trans  &trans            &trans  &trans       &kp EQUAL   &mt F7 N7        &mt F8 N8        &mt F9 N9        &kp ASTERISK  &kp DEL
&trans            &trans  &trans  &trans            &trans  &trans       &kp PLUS    &mt F4 NUMBER_4  &mt F5 N5        &mt F6 NUMBER_6  &kp MINUS     &kp PERCENT
&kp LEFT_CONTROL  &trans  &trans  &trans            &trans  &trans       &kp PERIOD  &mt F1 NUMBER_1  &mt F2 NUMBER_2  &mt F3 NUMBER_3  &kp SLASH     &kp ESC
                                  &kp LEFT_CONTROL  &mo 1   &kp SPACE    &kp ENTER   &kp N0           &kp LEFT_ALT
            >;
        };

        layer_2 {
            bindings = <
&kp GRAVE       &kp TILDE        &kp LESS_THAN      &kp GREATER_THAN  &kp AT_SIGN  &kp PIPE     &kp AMPERSAND  &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp DOLLAR      &kp ASTERISK   &kp DEL
&kp LEFT_SHIFT  &kp EXCLAMATION  &kp DOUBLE_QUOTES  &kp CARET         &kp EQUAL    &kp BSLH     &kp SLASH      &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp UNDERSCORE  &kp SEMICOLON  &trans
&trans          &trans           &trans             &trans            &kp HASH     &kp HASH     &kp COLON      &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp PERIOD      &kp SLASH      &kp ESCAPE
                                                    &kp LEFT_CONTROL  &mo 1        &kp SPACE    &kp RETURN     &mo 2                 &kp LEFT_ALT
            >;
        };
    };
};
